body,
html {
    margin: 5px;
    padding: 5px;
}

body {
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    min-width: fit-content;
}


.button {
    font-size: 1.25rem;
    background-color: rgb(219, 14, 14);
    color: white;
    padding: 20px 60px;
    border-radius: 8px;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 1px;
    margin-right: 25px;

    &:hover {
        cursor: pointer;
        background-color: transparent;
        border-color: black;
    }
}