body,
html {
    margin: 5px;
    padding: 5px;
}

body {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    min-width: fit-content;
}

.button {
    font-size: 1.25rem;
    background-color: red;
    color: white;
    padding: 1rem 3rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 2rem;

    &:hover {
        cursor: pointer;
        background-color: transparent;
        border-color: white;
    }
}