#editor {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(17, 143, 143, 0.582);
  border-radius: 0.25rem;
  padding: 1rem 4rem 2rem 4rem;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 1.5rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  #options {
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;

    .option {
      display: flex;
      flex-direction: column;
    }

    .panelInput {
      height: 5rem;
      width: 5rem;
      font-size: 2rem;
      text-align: center;
      background-color: black;
      color: whitesmoke;
      border: 1px solid gray;
      border-radius: 0.25rem;
      margin: 0 1rem 0.5rem 1rem;
      padding-left: 1rem;

      &:focus {
        outline: none !important;
        border-color: red;
        box-shadow: 0 0 0.5rem gray;
      }
    }
  }

  .button {
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.479);
    color: whitesmoke;
    padding: 1rem 3rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 2rem;

    &:hover {
      cursor: pointer;
      background-color: transparent;
      border-color: rgb(255, 255, 255);
    }
  }

  .circle-picker {
    margin-bottom: 1.5rem !important;
  }
}