.setBox {
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin: 10px;
}

.posts {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 25px;
    margin-left: 475px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(71, 71, 100, 0.719);
    width: 50%;
    height: 50%;
}

.form {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 25px;
    margin-left: 300px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(71, 71, 100, 0.719);
    width: 50%;
    height: 50%;
}

.singlePringle {
    border: solid black 1px;
    margin: 50px;
    background-color: rgba(32, 31, 31, 0.616);
}

.singleCaption {
    background-color: rgb(236, 230, 230);
    color: black;
    border: solid transparent;
    border-radius: 5px;
    padding: 5px;
    margin-left: 100px;
    width: 75%;
}

.butt {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(24, 128, 128);
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid black;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 10px;
    margin-right: 25px;
    &:hover {
        cursor: pointer;
        background-color: transparent;
        border-color: black;
    }
}

.pix {
    margin: 10px;
}