.form {
    border: 1px solid rgb(0, 0, 0);
    border-radius:  5px;
    background-color: rgba(17, 143, 143, 0.582);
    flex-direction: column;
    margin: 30px;
    font-size: 25px;
}

.hmm {
    background-color: rgba(17, 143, 143, 0.582);
    border: solid black 3px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    min-height: fit-content;
    min-width:100%;
}

.home {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(156, 163, 142, 0.582);
    border-radius: 0.25rem;
    padding: 1rem 4rem 2rem 4rem;
    min-height: fit-content;
    max-width: fit-content;
    margin: 15px;
}

.singleCaption {
    background-color: rgb(241, 233, 233);
    border: solid black 1px;
    border-radius: 5px;
    color: black;
    min-height: fit-content;
    min-width: fit-content;
    padding: 10px;
    font-size: 20px;
}

img{
    width: 100%;
    height: auto;
}

.setBox {
    resize: none;
    height: 250px;
    width: 500px;
    margin: 25px;
}

.butt {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 10px #ffffff;
    font-size: 1.25rem;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.479);
    color: whitesmoke;
    padding: 1rem 3rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    border: 1px solid black;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 2rem;

    &:hover {
        cursor: pointer;
        background-color: transparent;
        border-color: rgb(255, 255, 255);
    }
}